<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="css/vuetify.min.css" rel="stylesheet" type="text/css"></link>

    <title>proxy-mock-server</title>
</head>
<body>

    <div id="app">
        <v-app>
            <v-snackbar
                    :timeout="3000"
                    :top="true"
                    v-model="snackbar.show">
                {{ snackbar.text }}
                <v-btn flat color="pink" @click.native="snackbar.show = false">Close</v-btn>
            </v-snackbar>
            <v-toolbar app>
                <v-toolbar-title>
                    proxy-mock-server
                    <span v-if="status.mode === 'PLAY'"> - Currently playing mocks</span>
                    <v-btn v-if="status.mode === 'PLAY'" id="copyExpectations" color="primary" v-on:click="startRecording">
                        Record
                    </v-btn>
                    <v-btn v-if="status.mode === 'PLAY'" id="copyExpectations" color="primary" v-on:click="stopRecording">
                        Reload mocks
                    </v-btn>

                    <span v-if="status.mode === 'RECORD'"> - Currently recording</span>
                    <v-btn v-if="status.mode === 'RECORD'" id="copyExpectations" color="primary" v-on:click="stopRecording">
                        Stop recording
                    </v-btn>
                </v-toolbar-title>
            </v-toolbar>
            <v-content>
                <v-container fluid>
                    <span class=".body-2">Mocks stored in : {{ status.expectationsDirectory}}</span>
                    <v-btn id="copyExpectations" flat icon color="gray" :data-clipboard-text="status.expectationsDirectory">
                        <v-icon>file_copy</v-icon>
                    </v-btn>
                </v-container>
                <v-card>
                    <v-card-title>
                        # Active mocks : {{ Object.keys(status.activeExpectations).length }}
                        <v-spacer></v-spacer>
                        <v-text-field
                                v-model="search"
                                append-icon="search"
                                label="Search"
                                single-line
                                hide-details
                        ></v-text-field>
                    </v-card-title>
                    <v-data-table
                            :headers="headers"
                            :items="status.activeExpectations"
                            :search="search"
                            hide-actions
                            class="elevation-1"
                    >
                        <template slot="items" slot-scope="props">
                            <td>{{ props.item.index }}</td>
                            <td class="text-xs-left">{{ props.item.protocol }}</td>
                            <td class="text-xs-left">{{ props.item.host }}</td>
                            <td class="text-xs-left">{{ props.item.path }}</td>
                            <td class="text-xs-left">
                                <v-btn class="copyFileName" flat icon color="gray" :data-clipboard-text="props.item.filename">
                                    <v-icon>file_copy</v-icon>
                                </v-btn>
                            </td>
                        </template>
                    </v-data-table>
                </v-card>
            </v-content>
            <v-footer app></v-footer>
        </v-app>
    </div>


    <script src="js/vue.js"></script>
    <script src="js/vuetify.js"></script>

    <script>
    var data = {
        status: {
            mode: null,
            activeExpectations: []
        },
        search: '',
        headers: [
            { text: '#', value: 'index' },
            { text: 'protocol', value: 'protocol' },
            { text: 'host', value: 'host' },
            { text: 'path', value: 'path' },
            { text: 'filename', value: 'filename' }
        ],
        snackbar: {
            show: false,
            text: ''
        }
    };

    Vue.component('page', {
      template: '#page'
    });
    new Vue({
        el: '#app',
        data: data,
        created: function () {
            fetch('status')
                .then(function(response) {
                    return response.json().then(function(json) {
                        data.status = json;
                    });
                });

        },
        methods: {
            startRecording: function(event) {
                fetch('record')
                    .then(function(response) {
                        return response.json().then(function(json) {
                            data.snackbar.text = "Recording";
                            data.snackbar.show = true;
                            data.status = json;
                        });
                    })
            },
            stopRecording: function(event) {
                fetch('play')
                    .then(function(response) {
                        return response.json().then(function(json) {
                            data.snackbar.text = "Play / replay";
                            data.snackbar.show = true;
                            data.status = json;
                        });
                    })
            }
        }
    })

    </script>

    <script src="js/clipboard.js"></script>

    <script>
        var clipboard = new ClipboardJS('#copyExpectations');

        clipboard.on('success', function(e) {
            data.snackbar.text = "Copied to clipboard";
            data.snackbar.show = true;
            console.info('Action:', e.action);
            console.info('Text:', e.text);
            console.info('Trigger:', e.trigger);

            e.clearSelection();
        });

        clipboard.on('error', function(e) {
            data.snackbar.text = "Unable to copied to clipboard";
            data.snackbar.show = true;
            console.error('Action:', e.action);
            console.error('Trigger:', e.trigger);
        });

        var clipboardFilename = new ClipboardJS('.copyFileName');
        clipboardFilename.on('success', function(e) {
            data.snackbar.text = "Filename copied to clipboard";
            data.snackbar.show = true;
            console.info('Action:', e.action);
            console.info('Text:', e.text);
            console.info('Trigger:', e.trigger);

            e.clearSelection();
        });

        clipboardFilename.on('error', function(e) {
            data.snackbar.text = "Unable to copied filename to clipboard";
            data.snackbar.show = true;
            console.error('Action:', e.action);
            console.error('Trigger:', e.trigger);
        });

    </script>

</body>
</html>
